/* PasswordInput.css */
.passwordInput-container {
    position: relative;
    width: 100%;
    margin-bottom: 5%;
  }
  
  .passwordInput {
    width: 100%;
    padding: 12px 12px 12px 12px; /* Padding on all sides */
    padding-right: 40px; /* Extra padding on the right to make space for the icon */
    border: 1px solid #cccccc; /* Light border */
    border-radius: 8px; /* Rounded corners */
    font-size: 1em;
    box-sizing: border-box; /* Include padding in width calculation */
  }
  
  .passwordInput::placeholder {
    color: #888888; /* Placeholder text color */
  }
  
  .passwordInput-icon {
    position: absolute;
    right: 12px; /* Increased space from the edge */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333333; /* Icon color */
  }
  